footer{
    margin: 24px 45px 0 45px;
    p{
        text-align: center;
        font-family: "IBM plex mono", monospace;
        font-size: 14px;
    }
    .iconos{
        margin-top: 16px;
        margin-bottom: 31px;
        display: flex;
        justify-content: space-between;
    }
}