.temas{
    margin: 48px 16px 0 16px;
    h2{
        font-family: "IBM plex sans", sans-serif;
        font-weight: 400;
        font-size: 36px;
        margin-top: 48px;
        color: #060A24;
        line-height: 42px;
    }
    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .trabajo{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 37px;
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
        .repensando{
            margin-top: 49px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }   
        .bases{
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;            
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
        .seguridad{
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
     } 
}

@media only screen and (min-width: 1024px) {
    .temas{
        margin-top: 64px;
        h2{
        margin-left: 200px;
        font-family: "IBM plex sans", sans-serif;
        font-weight: 400;
        font-size: 48px;
        }
        .logos{
            margin-top: 69px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            div{
                width: 260px;
            }
            h3{
                font-size: 24px;
            }
        }
}
}