@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@100;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navegador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navegador img {
  margin-left: 16px;
}

.navegador #menu:checked ~ ul {
  display: block;
  position: absolute;
}

.navegador #menu {
  display: none;
}

.navegador .abrir {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #060A24;
}

.navegador .cerrar {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 16px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #060A24;
}

.navegador #menu:checked ~ .abrir {
  display: none;
}

.navegador #menu:checked ~ .cerrar {
  display: block;
}

.navegador ul {
  width: 100%;
  display: none;
  position: absolute;
  right: 0;
  margin-top: 217px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 2;
}

.navegador ul li {
  background-color: #0000ec;
}

.navegador ul li a {
  display: block;
  margin: 0;
  padding: 16px 0 12px 14px;
  text-decoration: none;
  color: #FFFFFF;
  font-family: "IBM plex mono", monospace;
}

.navegador ul li a:active {
  color: #060a2456;
  text-decoration: line-through;
}

@media only screen and (min-width: 1024px) {
  .navegador {
    height: 80px;
  }
  .navegador img {
    width: 36px;
    margin-left: 100px;
  }
  .navegador .abrir {
    display: none;
  }
  .navegador ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    margin-right: 100px;
  }
  .navegador ul li {
    background-color: #FFFFFF;
    list-style: none;
  }
  .navegador ul li a {
    margin-left: 48px;
    padding: 0;
    color: #060A24;
    font-family: "IBM plex mono", monospace;
    font-size: 16px;
  }
  .navegador ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  .navegador ul li a:active {
    color: #060a2456;
    text-decoration: line-through;
  }
}

header {
  position: relative;
  margin-top: 29px;
}

header .titulo {
  margin: 0 82px 0 16px;
  font-family: "IBM plex sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
}

header .titulo .tachado {
  text-decoration: line-through;
  color: #060A24;
}

header p {
  position: relative;
  margin: 16px 16px 0 16px;
  font-family: "IBM plex mono", monospace;
  font-size: 14px;
  color: #060A24;
  line-height: 22px;
}

header .conocemas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 36px 16px 0 16px;
  padding: 13px 0;
  background-color: #00F3BB;
  font-family: "IBM plex mono", medium;
}

header .conocemas a {
  text-decoration: none;
  color: #060A24;
}

@media only screen and (min-width: 1024px) {
  header .titulo {
    margin-left: 200px;
    font-size: 64px;
  }
  header .titulo .punto {
    color: #0000EC;
  }
  header p {
    margin-left: 200px;
    width: 628px;
    font-size: 16px;
  }
  header .conocemas {
    margin-left: 200px;
    padding: 0;
    width: 226px;
    height: 56px;
    font-size: 18px;
  }
  header .conocemas:hover {
    background: #00f0b8;
    background: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
    background: linear-gradient(90deg, #00f0b8 0%, #0000fe 100%);
  }
}

.fondo-azul {
  margin-top: 24px;
  position: absolute;
  width: 100%;
  height: 1250.5px;
  background: #0000a3;
  background: -webkit-gradient(linear, left top, right top, from(#0000a3), to(blue));
  background: linear-gradient(90deg, #0000a3 0%, blue 100%);
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
  z-index: -1;
}

.episodios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.episodios .titulo-episodios {
  margin: 0px 147px 0 16px;
  position: relative;
}

.episodios .titulo-episodios h2 {
  font-family: "IBM plex sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 88px;
  color: white;
  line-height: 42px;
}

.episodios .spotify {
  margin-top: 21px;
  margin-left: 11px;
  margin-right: 11px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.episodios .spotify iframe {
  width: 100%;
  min-height: 232px;
  margin-top: 11px;
  border: none;
}

@media only screen and (min-width: 1024px) {
  .fondo-azul {
    margin-top: 24px;
    position: absolute;
    width: 100%;
    height: 1203.5px;
    background: #0000a3;
    background: -webkit-gradient(linear, left top, right top, from(#0000a3), to(blue));
    background: linear-gradient(90deg, #0000a3 0%, blue 100%);
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
            clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    z-index: -1;
  }
  .episodios {
    margin-top: 191px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .episodios .titulo-episodios {
    position: relative;
  }
  .episodios .titulo-episodios h2 {
    margin: unset;
    margin-left: 200px;
    font-family: "IBM plex sans", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
    line-height: 42px;
  }
  .episodios .spotify {
    margin-top: 26px;
    min-width: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: 100%;
    border-radius: 3px;
  }
  .episodios .spotify .iframe1 {
    margin-left: 40px;
    width: 85%;
    height: 380px;
    border: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .episodios .spotify .iframe2 {
    width: 85%;
    height: 350px;
    border: none;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .episodios .spotify .iframe3 {
    margin-left: 40px;
    width: 85%;
    height: 350px;
    border: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .episodios .spotify .iframe4 {
    width: 85%;
    height: 350px;
    border: none;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.celular {
  margin-top: 48px;
}

.celular .celularimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.celular .celularimg img {
  width: 100%;
  height: 519px;
}

.celular .venimos {
  margin: 27px 16px 0 16px;
}

.celular .venimos h2 {
  font-family: "IBM plex sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 27px;
  color: #060a24;
  line-height: 42px;
  letter-spacing: 0;
}

.celular .venimos p {
  margin-top: 8px;
  text-align: justify;
  font-family: "IBM plex mono", monospace;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}

@media only screen and (min-width: 1024px) {
  .celular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .celular .celularimg img {
    width: 457px;
    height: 660px;
  }
  .celular .venimos h2 {
    font-family: "IBM plex sans", sans-serif;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
  }
  .celular .venimos p {
    text-align: left;
    font-family: "IBM plex mono", monospace;
    color: #060a24;
    font-weight: 400;
    margin-top: 24px;
    width: 464px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
}

.imagenes .titulo-imagenes {
  margin: 54px 16px 0 16px;
}

.imagenes .titulo-imagenes .estelares {
  font-family: "IBM plex sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #060a24;
  line-height: 42px;
  letter-spacing: 0;
}

.imagenes .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 14px;
}

.imagenes .imgs img {
  width: 100%;
  height: 243px;
}

@media only screen and (min-width: 1024px) {
  .imagenes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
  .imagenes .titulo-imagenes {
    margin-top: 64px;
  }
  .imagenes .titulo-imagenes .estelares {
    margin-left: 200px;
    font-family: "IBM plex sans", sans-serif;
    font-weight: 400;
    font-size: 48px;
  }
  .imagenes .imgs {
    width: 100%;
    margin-top: 36px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .imagenes .imgs img {
    width: 100%;
    height: auto;
  }
}

.temas {
  margin: 48px 16px 0 16px;
}

.temas h2 {
  font-family: "IBM plex sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin-top: 48px;
  color: #060A24;
  line-height: 42px;
}

.temas .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas .logos .trabajo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px;
}

.temas .logos .trabajo h3 {
  margin: 13px 16px 0 16px;
  font-family: "IBM plex sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.temas .logos .repensando {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas .logos .repensando h3 {
  margin: 13px 16px 0 16px;
  font-family: "IBM plex sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.temas .logos .bases {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas .logos .bases h3 {
  margin: 13px 16px 0 16px;
  font-family: "IBM plex sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.temas .logos .seguridad {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.temas .logos .seguridad h3 {
  margin: 13px 16px 0 16px;
  font-family: "IBM plex sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .temas {
    margin-top: 64px;
  }
  .temas h2 {
    margin-left: 200px;
    font-family: "IBM plex sans", sans-serif;
    font-weight: 400;
    font-size: 48px;
  }
  .temas .logos {
    margin-top: 69px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .temas .logos div {
    width: 260px;
  }
  .temas .logos h3 {
    font-size: 24px;
  }
}

.fondo-azul2 {
  margin-top: 42px;
  position: relative;
  width: 100%;
  height: 341px;
  background: #0000a3;
  background: -webkit-gradient(linear, left top, right top, from(#0000a3), to(blue));
  background: linear-gradient(90deg, #0000a3 0%, blue 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.novedades .titulo-final {
  text-align: center;
  margin: 42px 16px 0 16px;
  padding-top: 64px;
  position: relative;
  font-family: "IBM plex sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
}

.novedades .escucha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 36px 16px 0 16px;
  padding: 13px 0;
  background-color: #00f3bb;
  font-family: "IBM plex mono", medium;
}

.novedades .escucha a {
  text-decoration: none;
  color: #060a24;
}

@media only screen and (min-width: 1024px) {
  .fondo-azul2 {
    margin-top: 34px;
    position: relative;
    width: 100%;
    height: 518px;
    background: #0000a3;
    background: -webkit-gradient(linear, left top, right top, from(#0000a3), to(blue));
    background: linear-gradient(90deg, #0000a3 0%, blue 100%);
    -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    z-index: 2;
  }
  .novedades {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .novedades .titulo-final {
    margin-top: 213px;
    font-family: "IBM plex sans", sans-serif;
    font-weight: 400;
    font-size: 48px;
    padding: unset;
  }
  .novedades .escucha {
    margin-top: 36px;
    padding: 0;
    width: 345px;
    height: 56px;
    font-size: 18px;
  }
  .novedades .escucha:hover {
    background: #00f0b8;
    background: -webkit-gradient(linear, left top, right top, from(#00f0b8), to(#0000fe));
    background: linear-gradient(90deg, #00f0b8 0%, #0000fe 100%);
  }
}

footer {
  margin: 24px 45px 0 45px;
}

footer p {
  text-align: center;
  font-family: "IBM plex mono", monospace;
  font-size: 14px;
}

footer .iconos {
  margin-top: 16px;
  margin-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    font-family: "IBM plex mono", monospace;
    font-size: 16px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 28px;
  }
  footer .iconos {
    margin-right: 100px;
    margin-bottom: 31px;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 31px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .iconos i {
    margin-left: 36px;
  }
}
/*# sourceMappingURL=styles.css.map */