@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=IBM+Plex+Sans:wght@100;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

.navegador {
    display: flex;
    width: 100%;
    height: 44px;
    align-items: center;
    justify-content: space-between;
    img{
        margin-left: 16px;
    }
    fas fa-bars{
        // revisar alineacion
        margin-right: 16px;
    }
}

header{
    position:relative;
    margin-top: 29px;
    .titulo{
        margin: 0 82px 0 16px; 
        font-family: "IBM plex sans", sans-serif;
        font-size: 34px;
        .tachado{
            text-decoration: line-through;
            color: #060A24;
        }
    }
    p{
        position: relative;
        margin: 16px 16px 0 16px;
        font-family: "IBM plex mono", monospace;
        font-size: 14px;
    }
    .conocemas{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 36px 16px 0 16px;
        padding: 13px 0;
        background-color: #00F3BB;
        font-family: "IBM plex mono", medium;
        a{
            text-decoration: none;
            color: #060A24;
        }
    }
}

.fondo-azul{
    margin-top: 24px;
    position: absolute;
    width: 100%;
    height: 1203.5px;
    background: rgb(0,0,163);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
    z-index: -1;
}

.episodios{
    .titulo-episodios{
        margin-top: 88px;
        position: relative;
        h2{
            font-family: "IBM plex sans", sans-serif;
            font-weight: 400;
            font-size: 36px;
            margin-top: 88px;
            color: white;
        }
    }
    .iframe1{
        width: 100%;
        height: 232px;
        border: 0;
        position: relative;
        margin-top: 21px;
    }
    .iframe2{
        width: 100%;
        height: 232px;
        border: 0;
        position: relative;
        margin-top: 11px;
    }
    .iframe3{
        width: 100%;
        height: 232px;
        border: 0;
        position: relative;
        margin-top: 11px;
    }
    .iframe4{
        width: 100%;
        height: 232px;
        border: 0;
        position: relative;
        margin-top: 11px;
    }
}

.celular{
    .celularimg{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 360px;
            height: 519px;
        }
   }
}

.venimos{
    margin: 27px 16px 0 16px;
    h2{
        font-family: "IBM plex sans", sans-serif;
        font-weight: 400;
        font-size: 36px;
        margin-top: 88px;
        color: #060A24;
    }
    p{
        margin-top: 8px;
        text-align: justify;
        font-family: "IBM plex mono", monospace;
        font-size: 300;
        font-size: 14px;
    }
}

.imagenes{
    .titulo-imagenes{
        margin: 54px 16px 0 16px;
        h2{
            font-family: "IBM plex sans", sans-serif;
            font-weight: 400;
            font-size: 36px;
            color: #060A24;
        }
    }
        .imgs{
        margin-top: 14px;
        img{
            width: 100%;
            height: 243px;
        }
    }
}

.temas{
    margin: 48px 16px 0 16px;
    h2{
        font-family: "IBM plex sans", sans-serif;
        font-weight: 400;
        font-size: 36px;
        margin-top: 88px;
        color: #060A24;
    }
    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        .trabajo{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 37px;
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
        .repensando{
            margin-top: 49px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }   
        .bases{
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;            
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
        .seguridad{
            margin-top: 65px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h3{
                margin: 13px 16px 0 16px;
                font-family: "IBM plex sans", sans-serif;
                font-weight: 600;
                font-size: 24px;
                text-align: center;
            }
        }
     } 
}

.fondo-azul2{
    margin-top: 42px;
    position: absolute;
    width: 100%;
    height: 341px;
    background: rgb(0,0,163);
    background: linear-gradient(90deg, rgba(0,0,163,1) 0%, rgba(0,0,255,1) 100%);
    clip-path: polygon(0 28%, 100% 14%, 100% 100%, 0% 100%);
    z-index: -2;
}

.novedades{
    .titulo-final{
        margin: 64px 16px 0 16px;
        position: relative;
        font-family: "IBM plex sans", sans-serif;
        font-weight: 400;
        font-size: 36px;
        margin-top: 88px;
        color: white;
    }
    .escucha{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 36px 16px 0 16px;
        padding: 13px 0;
        background-color: #00F3BB;
        font-family: "IBM plex mono", medium;
        a{
            text-decoration: none;
            color: #060A24;
        }
    }
}

footer{
    margin: 91px 45px 0 45px;
    p{
        text-align: center;
        font-family: "IBM plex mono", monospace;
        font-size: 14px;
    }
    .iconos{
        margin-top: 16px;
        display: flex;
        justify-content: space-around;
    }
}